{% extends 'backend.html.twig' %}

{% block contenido %}
    <h1>Creación de videojuego</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('videojuegocrud_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
